/* Global Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

.header-container {
    padding: 10px;
}

.logo {
    animation: bounce 2s infinite;
    height: 70px;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

/* Login Section */
.row {
    background: white;
    border-radius: 30px;
    box-shadow: 12px 12px 22px rgba(0, 0, 0, 0.1);
}

.login img {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.login h1 {
    font-size: 4rem;
    font-weight: 500;
    font-family: "Titan One", sans-serif;
	
}

.inp {
    height: 50px;
    width: 70%;
    border: none;
    outline: none;
    border-radius: 60px;
    box-shadow: 1px 1px 26px rgba(0, 0, 0, 0.12);
}

.btn1 {
    height: 50px;
    width: 50%;
    border: none;
    outline: none;
    border-radius: 60px;
    font-weight: 600;
    background: darkgoldenrod;
    color: white;
}

.btn1:hover {
    background: gold;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 40px;
    text-align: center;
}

.footer-links a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #ffd700;
}

.social-icons a {
    transition: transform 0.3s ease;
}

.social-icons a:hover {
    transform: scale(1.2);
}
